<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:55px;background-color:#c41d39;color:white">Lets Start The Exploration!</h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://www.dealmoneyonline.com/sites/default/files/slide1.jpg" alt="EDA" style="height:300px;margin-top:3rem;"> </div>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

#

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:55px;background-color:#76b5c5;color:black">Lets Start The Exploration!</h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://miro.medium.com/max/615/1*Nr8BJzXWodgpDZl-54abrQ.jpeg" alt="EDA" style="height:300px;margin-top:3rem;"> </div>

<h3 style="display:table;font-size:20px;background-color:#ff6666;color:black">Steps</h3>


1. Import the libraries

2. Read the CSV file

3. Check the data type of the features

4. Drop some of these columns as they are not that important

5. Rename the columns to make it easier to understand

#

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('../input/zomato-eda/zomato.csv')
df.head(2)

In [ ]:
df.info()

<h3 style="display:table;font-size:20px;background-color:#80ff80;color:black">Observations</h3>

Rate column is an object - (Needs to be integer/float)

Approx_cost is also an object -(Convert to integer)

#

In [ ]:
cols_to_drop = ['url','address','phone','dish_liked','reviews_list','menu_item']
df.drop(cols_to_drop,axis=1,inplace=True)

df.rename(columns={'rate':'rating','listed_in(city)':'city','approx_cost(for two people)':'cost_for_two','rest_type':'type','listed_in(type)':'listed_in'},inplace=True)

#

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:45px;background-color:#76b5c5;color:black">Case Of The Missing Values</h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://media-exp1.licdn.com/dms/image/C4E12AQFYKJN7M9A6lg/article-cover_image-shrink_600_2000/0/1520200376537?e=2147483647&v=beta&t=rZMxMeC71kQ_5LSy1TDIgB8t3hxIeMwkibnAL7C6Ags" alt="Missing values" style="height:300px;margin-top:3rem;"> </div>

<h3 style="display:table;font-size:20px;background-color:#ff6666;color:black">Steps</h3>


1. Check the percentage of missing values in our features

2. Drop these values completely

#

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(df.isnull(),cbar=False,cmap='viridis')

<h3 style="display:table; font-size:20px;background-color:#80ff80;color:black">Observations</h3>

Rating column has the maximum no of missing values

#

In [ ]:
df.dropna(inplace=True)

#

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:45px;background-color:#76b5c5;color:black">Find The Flaws Sherlock!</h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://uniqueinfinities.files.wordpress.com/2014/01/sherlock1.jpg" alt="Flaws" style="height:300px;margin-top:3rem;"> </div>

<h3 style="display:table;font-size:20px;background-color:#ff6666;color:black">Steps</h3>



1. Check why Rating is an object

2. Check why Cost is an object

3. Look through the unique values for all features and find errors

4. Are there any Dupicate rows ?


#

In [ ]:
df['rating'].unique()

In [ ]:
df['cost_for_two'].unique()

In [ ]:
df['location'].unique()

In [ ]:
df['type'].unique()

In [ ]:
df['listed_in'].unique()

In [ ]:
df['city'].unique()

In [ ]:
df.groupby('name').count().head()

In [ ]:
df.duplicated().sum()

<h3 style="display:table; font-size:20px;background-color:#80ff80;color:black">Observations</h3>

Rating contains values such as "NEW" and "-"

Also Ratings are given as "x/5" we need to change that

Some of the cost attributes are separated by " , " which is making it an object dtype

Name column contains special charachters and symbols

There are 86 duplicated values

#

#

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:45px;background-color:#76b5c5;color:black">Dr. Fix-It To Fix The Mess </h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://c8.alamy.com/comp/TAWMM0/happy-hand-drawn-stick-figure-character-in-hurry-to-help-to-fix-something-TAWMM0.jpg" alt="Fix-it" style="height:300px;margin-top:3rem;"> </div>

<h3 style=";display:table; font-size:20px;background-color:#ff6666;color:black">Steps</h3>



1. Fix the Rating column

2. Remove "," from Cost column

3. Remove the special charachters from the name column

4. Drop the duplicated rows

#

In [ ]:
df = df[(df['rating'] != 'NEW') & (df['rating'] != '-') ]
df['rating'] = df['rating'].apply(lambda x: x.replace("/5",""))
df['rating'] = df['rating'].apply(lambda x: x.replace(" ",""))
df['rating'] = df['rating'].astype('float')

In [ ]:
df['cost_for_two'] = df['cost_for_two'].apply(lambda x:x.replace(",","")).astype('int')

In [ ]:
df['name'] = df['name'].str.replace('[Ãƒx][^A-Za-z]+','',regex=True)
df['name'] = df['name'].str.replace('Caf-|Caf ','Cafe ',regex=True)

In [ ]:
df = df.drop_duplicates().reset_index()

#

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:45px;background-color:#76b5c5;color:black">Interrogation Time!!</h1>

<div style="width:100%;text-align: center;"> <img align=middle src="https://img.freepik.com/free-vector/interrogation-criminal-man-police-station_33099-1900.jpg?w=2000" alt="Fix-it" style="height:300px;margin-top:3rem;"> </div>

<h5 style="display:table;font-size:30px;background-color:#ff99ff;color:black">The Questions We Need To Ask The Dataset [PART 1]</h5>

1. How many restaurants take online orders ?

2. How many restaurants allow table booking/reservation ?

3. Which 5 locations have highest and lowest rated restaurants ?

4. Top 50 Highest priced retsaurants vs their ratings ?

In [ ]:
fig,ax=plt.subplots(figsize=(18,10))


plt.subplot(2,1,1)
colors = ['#66b3ff','#66ffb3']
plt.pie(x=df['online_order'].value_counts(),labels=['Yes','No'],labeldistance=0.85,autopct='%1.1f%%',pctdistance=0.5,colors=colors)
centre_circle = plt.Circle((0,0),0.70,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)

plt.title('How Many Restaurants Take Online Order ?',fontsize=15)
fig.tight_layout()


plt.subplot(2,1,2)
colors = ['#9966ff','#ff80bf']
plt.pie(x=df['book_table'].value_counts(),labels=['No','Yes'],labeldistance=0.85,autopct='%1.1f%%',pctdistance=0.5,colors=colors)
centre_circle = plt.Circle((0,0),0.70,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)


plt.title('How Many Restaurants Allow Table Booking?',fontsize=15)
fig.tight_layout()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>

Overwhelming majority of restaurants do not allow table booking

Most restaurants take online orders

#

In [ ]:
pop_loc = df.groupby('location')['rating'].mean().reset_index()


fig = plt.figure(figsize=(15,8))
fig.subplots_adjust(hspace=2.0)
plt.subplot(2,1,1)

bars = sns.barplot(x='location',y='rating',data=pop_loc.sort_values(by='rating',ascending=False).head(5))
plt.title('5 locations With Highest Rated Restaurants',fontsize=13)



plt.subplot(2,1,2)
bars = sns.barplot(x='location',y='rating',data=pop_loc.sort_values(by='rating',ascending=True).head(5))
plt.title('5 locations With Lowest Rated Restaurants',fontsize=13)

fig.tight_layout()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>

Lavelle Road has the highest rated restaurants (over mean)


Old madras road has the lowest rated restaurants

#

In [ ]:
price_rest = df.drop_duplicates(subset=['name']).sort_values(by=['cost_for_two'],ascending=False).head(50).reset_index()[['name','rating','cost_for_two']]

import plotly.express as px

fig = px.scatter(price_rest, x="cost_for_two", y="rating",hover_data=price_rest ,size_max=200, color="rating")
fig.update_layout(title_text='Cost vs Rating', title_x=0.5)
print('Hover over the data to get the complete info')
fig.update_layout({
    'plot_bgcolor': 'rgba(0, 0, 0, 0)',
    'paper_bgcolor': 'rgba(0, 0, 0, 0)'})

fig.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>

"The Leela palace" is the costliest restaurant (priced at 6000.rs for two people)

"Grill 99 the ritz" has the lowest rating among the 50 costliest restaurants (3.5 mean rating)

"Rim naam - The Oberoi" has the Highest rating among the 50 restaurants (4.6 mean rating)

#

#

<h5 style="display:table; font-size:30px;background-color:#ff99ff;color:black">The Questions We Need To Ask The Dataset [PART 2]</h5>


5. What are the locations with most and least number of restaurants ?

6. Which type of restaurants are mostly opened in bangalore ? 

7. Distribution  + Relationship between cost and rating for all the restaurants

8. What are the most served cuisines ?

In [ ]:
most_loc = df.groupby('location')['name'].count().reset_index()
fig =plt.figure(figsize=(15,8))
fig.subplots_adjust(hspace=0.5)
plt.subplot(2,1,1)

ax = sns.barplot(x='location',y='name',data=most_loc.sort_values(by=['name'],ascending=False).head())
ax.set(xlabel='Location',ylabel='Count')
plt.title('5 locations With Most No Of Zomato Rated Restaurants',fontsize=13)


plt.subplot(2,1,2)

ax = sns.barplot(x='location',y='name',data=most_loc.sort_values(by=['name'],ascending=True).head())
ax.set(xlabel='Location',ylabel='Count')

plt.title('5 locations With Least No Of Zomato Rated Restaurants',fontsize=13)

plt.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


BTM has the most number of restaurants

Nagarbhavi and peenya has the least number of restaurants

#

In [ ]:
resttype = df.assign(rest_type=df['type'].str.split(',')).explode('rest_type')
type_res = resttype.groupby('rest_type')['name'].count().reset_index()
fig = plt.figure(figsize=(15,15))
ax = sns.barplot(x='name',y='rest_type',data=type_res.sort_values(by=['name'],ascending=False).head(40),orient='h',palette='rocket_r')
ax.set(xlabel='Count', ylabel='Restaurant Type')

plt.title('Types Of Restaurants',fontsize=15)
fig.tight_layout()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>

Majority of the restaurants are "Quick bites" type followed by "casual dining" restaurants

#

In [ ]:
price_rest = df.drop_duplicates(subset=['name']).sort_values(by=['cost_for_two'],ascending=False).reset_index()[['name','rating','cost_for_two']]

import plotly.express as px

fig = px.scatter(price_rest, x="cost_for_two", y="rating",marginal_x="histogram", marginal_y="histogram",hover_data=price_rest ,size_max=200, color="rating")
fig.update_layout(title_text='Cost vs Rating', title_x=0.5)
print('Hover over the data to get the complete info')
fig.update_layout({
    'plot_bgcolor': 'rgba(0, 0, 0, 0)',
    'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
fig.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


Cost is left skewed (as expected) i.e there are more Cheaper restaurants than Costlier


Ratings follow uniform distribution and majority of ratings are between 4.2 and 3

"Srinidhi sagar" has the lowest price for two (40.rs) with average rating of 3.9

There are 6 restaurants with 4.9 rating (Highest)


Lowest rated Restaurant is "Alibi"


#

In [ ]:
cuistype = df.assign(cuis_type=df['cuisines'].str.split(',')).explode('cuis_type')
cuistype['cuis_type'] = cuistype['cuis_type'].apply(lambda x:str(x).replace(" ",""))
cuistype['cuis_type'].unique()


type_cuis = cuistype.groupby('cuis_type')['name'].count().reset_index().sort_values(by='name',ascending=False)
fig = plt.figure(figsize=(15,15))
ax =sns.barplot(x='name',y='cuis_type',data=type_cuis.sort_values(by=['name'],ascending=False).head(50),orient='h',palette='rocket')
ax.set(xlabel='Count', ylabel='Cuisine Type')
plt.title('Types Of Cuisines',fontsize=13)
fig.tight_layout()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


No surprises and north indian cuisine is mosty served in restaurants, closely followed by chinese and then south indian

#

<h5 style="display:table;font-size:30px;background-color:#ff99ff;color:black">Questions We Need To Ask The Dataset [PART 3]</h5>


9. What are the most voted restaurants and their ratings ?

10. Complete analysis w.r.t onine booking,cost,rating and table booking 

11. Which are the top 5 franchises by number of restaurants

12. Which are the top 10 franchises by rating

In [ ]:
most_voted = df.drop_duplicates(subset=['name']).sort_values(by='votes',ascending=False) #I have removed the franchise duplicates in this task

fig = px.scatter(most_voted, x="votes", y="rating",marginal_x="histogram", marginal_y="histogram",hover_data=price_rest ,size_max=200, color="rating")
fig.update_layout(title_text='Votes vs Rating', title_x=0.5)
print('Hover over the data to get the complete info')
fig.update_layout({
    'plot_bgcolor': 'rgba(0, 0, 0, 0)',
    'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
fig.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


"Brewski brewing company" and "toit" are the 2 best places in Bangalore solely based on votes and ratings

Here's why: Both the restaurants are voted by 14,000+ users and yet have ratings above 4.5, which eliminates bias of low votes and higher rating


#

In [ ]:
import plotly.express as px
fig = px.scatter(df, x="rating", y="cost_for_two",facet_col="online_order", facet_row="book_table")
fig.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


Interesting to observe that restaurants with online booking have lower overall cost as compared to restaurants that don't have online booking


#

In [ ]:
Franchise=df['name'].value_counts().head(10)
plt.figure(figsize=(9,5),dpi=95)
sns.barplot(y=Franchise.index,x=Franchise,orient='h',palette='Blues')
plt.title('Famous franchises in Banglore by number of outlets')

plt.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>


CCD and Onesta are the chains with the most no of restaurants

#

In [ ]:
rating=df.groupby('name')['rating'].agg('mean').sort_values(ascending=False).head(10)
plt.figure(figsize=(9,5),dpi=95)
sns.barplot(y=rating.index,x=rating,orient='h',palette='rocket')
plt.title('Famous Franchises in Banglore by rating')
plt.show()

<h3 style="display:table;background-color:#80ff80;color:black">Observations</h3>

"Asia kitchen", "Santspa cuisine" and "byg brewski" are the top rated franchises with a rating of 4.9

#

<h3 style="text-align: center;display:table; margin:auto;padding:5px;font-size:25px;background-color:#76b5c5;color:black">This Concludes The EDA of Zomato Bangalore</h3>

<h1 style="text-align: center;display:table; margin:auto;padding:5px;font-size:55px;background-color:#76b5c5;color:black">Thank You For Reading</h1>